<?xml version="1.0"?>
<config>
    <modules>
        <VS7_ShipmentGift>
            <version>0.1.0</version>
        </VS7_ShipmentGift>
    </modules>
    <global>
        <models>
            <vs7_shipmentgift>
                <class>VS7_ShipmentGift_Model</class>
                <resourceModel>vs7_shipmentgift_resource</resourceModel>
            </vs7_shipmentgift>
            <vs7_shipmentgift_resource>
                <class>VS7_ShipmentGift_Model_Resource</class>
                <entities>
                    <shipmentgift>
                        <table>sales_flat_shipment_gift</table>
                    </shipmentgift>
                </entities>
            </vs7_shipmentgift_resource>
        </models>
        <resources>
            <vs7_shipmentgift_setup>
                <setup>
                    <module>VS7_ShipmentGift</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_shipmentgift_setup>
            <vs7_shipmentgift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_shipmentgift_write>
            <vs7_shipmentgift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_shipmentgift_read>
        </resources>
        <blocks>
            <vs7_shipmentgift>
                <class>VS7_ShipmentGift_Block</class>
            </vs7_shipmentgift>
        </blocks>
        <helpers>
            <vs7_shipmentgift>
                <class>VS7_ShipmentGift_Helper</class>
            </vs7_shipmentgift>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VS7_ShipmentGift before="Mage_Adminhtml">VS7_ShipmentGift_Adminhtml</VS7_ShipmentGift>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <shipmentgift>
                        <type>singleton</type>
                        <class>vs7_shipmentgift/observer</class>
                        <method>saveGift</method>
                    </shipmentgift>
                </observers>
            </sales_order_shipment_save_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <vs7_shipmentgift_modify_template>
                        <type>singleton</type>
                        <class>vs7_shipmentgift/observer</class>
                        <method>modifyForm</method>
                    </vs7_shipmentgift_modify_template>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </adminhtml>
</config>